.container {
  height: calc(100vh - 100px - 100px);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
}
